@font-face {
  font-family: buttonFace;
  src: url(../fonts/SegoeUI.ttf);
}

@font-face {
  font-family: priceFace;
  src: url(../fonts/SegoeUIBold.ttf);
}

#botaoComprar{
  background-color:#1D1D1D;
  border-radius:0px;
  font-family: buttonFace;
  font-size: 25px;
  padding: 15px;
  margin-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

#preco{
  font-size: 40px;
  color:#1D1D1D;
  font-family: priceFace;
  margin-right: 10px;
  margin-left: 10px;
}

#titulo{
  font-size: 35px;
  color:#1D1D1D;
  font-family: priceFace;
}


#stock{
  vertical-align:middle;
  font-family: buttonFace;
  font-size: 18px;
  color:#17A520;
}

.categoria{
  vertical-align:middle;
  font-family: buttonFace;
  color: #1D1D1D;
  opacity: 0.5;
  margin-right:20px;
  
}

a:hover{
  font-family: buttonFace;
  color: #1D1D1D;
  opacity: 1;
}



#detalhes{
  -webkit-align-content: center;
  align-content: center;
}


#quantidade{
    padding-top: 4px;
    align-content: center;
    width: 12%;
    text-indent: 7px;
    color:#1D1D1D;
    font-size: 20px;
    font-family: priceFace;
    border: none;
    border-bottom: 1px solid black;
    color:#1D1D1D;
    background: url(../images/arrow_d.png) no-repeat right;
}

#quantidade:hover{
  background-color: #EEEEEE; 
}


option{
  color:#1D1D1D;
  font-size: 20px;
  font-family: priceFace;
}

